
header#admin {
    background: var(--reds-0);
    text-align: center;
}

.layout {
    display: grid;
    grid-template-columns: 1fr 4fr;

    flex: 1 0 auto;
}

nav#admin {
    background: var(--reds-2);

    display: flex;
    flex-flow: column nowrap;
    gap: 1em;

    padding: 1em;

    --link-color: var(--white);
    --link-hover: var(--reds-0);
}

nav .sub {
    margin-left: 2em;
}

a#exit {
    margin-top: auto;
}

a.back-link {
    display: flex;
    gap: 1em;
    align-items: center;
    margin-bottom: 2em;
}

/* FORMS */

form#input, form#login {
    max-width: 700px;
    margin: 5em auto 2em;
}

form#site-info {
    margin-left: 3em;
}

form.simple-vertical {
    display: flex;
    flex-flow: column nowrap;
    gap: 1em;
}


form.simple-vertical label {
    display: grid;
    gap: 2em;
    grid-template-columns: 1fr 1fr;
    align-items: center;
}

.info-popup {
    position: absolute;

    bottom: 0;
    right: 0;
    margin: 1em;
    border-radius: 3px;
    padding: 1ex 1em;

    /* Fashion */
    background-color: var(--greys-0);
    filter: drop-shadow(0 0 10px var(--greys-0));
    outline: 1px solid var(--highlight);
}

.info-popup:has(.error-message) {
    --highlight: var(--reds-1);
}

.info-popup:has(.success-message) {
    --highlight: var(--success);
}

.info-popup:has(.empty) {
    display: none;
}

label {
    position: relative;
}

label:has([required])::after {
    content: "*";
    position: absolute;
    left: -1em;

    font-weight: 900;

    filter: drop-shadow(1px 1px 20px var(--reds-0));
}


/* TABLE styling */

table {
    border-collapse: collapse;

    width: 100%;
    margin: auto;
}

th, td {
    border: 1px solid var(--greys-2);
    padding: 1ex 1em;
}

tbody td:empty::before {
    content: "——";
    color: var(--greys-2)
}

tbody td {
    text-align: center;
}

.controls {
    display: flex;
    flex-flow: row nowrap;
    gap: 1em;
    
    padding: 1em 1ex;
}

.controls button {
    font-size: 12px;
}

.controls button#new {
    margin-right: auto;
}

#selection-counter {
    text-align: center;
}

#selection-counter:empty::before {
    content: "0";
}

#selection-counter::after {
    content: " selected";
}

#total-counter {
    text-align: right;
}


/* MOBILE STYLING */

@media (max-width: 950px) {
    .layout {
        display: flex;
        flex-flow: column nowrap;
    }
}
