
header#admin {
    background: var(--reds-0);
    text-align: center;
}

.layout {
    display: grid;
    grid-template-columns: 1fr 4fr;

    flex: 1 0 auto;
}

nav#admin {
    background: var(--reds-2);

    display: flex;
    flex-flow: column nowrap;
    gap: 1em;

    padding: 1em;

    --link-color: var(--white);
    --link-hover: var(--reds-0);
}

nav .sub {
    margin-left: 2em;
}

a#return {
    margin-top: auto;
}

a.back-link {
    display: flex;
    gap: 1em;
    align-items: center;
}

/* FORMS */

form#login {
    display: flex;
    flex-flow: column nowrap;
    gap: 1em;

    max-width: 700px;
    margin: 5em auto 2em;
}

#login label {
    display: grid;
    gap: 2em;
    grid-template-columns: 1fr 1fr;
    align-items: center;
}

#error-message {
    text-align: center;
}

/* MOBILE STYLING */

@media (max-width: 850px) {
    .layout {
        grid-template-columns: 1fr 2fr;
    }
}
