
header#admin {
    background: var(--reds-0);
    text-align: center;
}

.layout {
    display: grid;
    grid-template-columns: 1fr 4fr;

    flex: 1 0 auto;
}

nav#admin {
    background: var(--reds-2);

    display: flex;
    flex-flow: column nowrap;
    gap: 1em;

    padding: 1em;

    --link-color: var(--white);
    --link-hover: var(--reds-0);
}

nav .sub {
    margin-left: 2em;
}

a#exit {
    margin-top: auto;
}

a.back-link {
    display: flex;
    gap: 1em;
    align-items: center;
    margin-bottom: 2em;
}

/* FORMS */

form#input {
    max-width: 700px;
    margin: 5em auto 2em;
}

form#site-info {
    margin-left: 3em;
}

form.simple-vertical {
    display: flex;
    flex-flow: column nowrap;
    gap: 1em;
}


form.simple-vertical label {
    display: grid;
    gap: 2em;
    grid-template-columns: 1fr 1fr;
    align-items: center;
}

.info-popup {
    position: absolute;

    bottom: 0;
    right: 0;
    margin: 1em;
    border-radius: 3px;
    padding: 1ex 1em;

    /* Fashion */
    background-color: var(--greys-0);
    filter: drop-shadow(0 0 10px var(--greys-0));
    outline: 1px solid var(--highlight);
}

.info-popup:has(.error-message) {
    --highlight: var(--reds-1);
}

.info-popup:has(.success-message) {
    --highlight: var(--success);
}

.info-popup:has(.empty) {
    display: none;
}



/* MOBILE STYLING */

@media (max-width: 850px) {
    .layout {
        display: flex;
        flex-flow: column nowrap;
    }
}
