/* 
    Universal styling for this site.
    These fonts, variables, and styles are available across all pages.
*/

@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@200..900&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');


:root {
    --greys-0: #1D1D1D;
    --greys-1: #404040;
    --greys-2: #717171;
    --greys-3: #ADADAD;
    --greys-4: #DADADA;

    --white: #ffffff;
    --black: #000000;

    --reds-0: #841D21;
    --reds-1: #AC3D42;
    --reds-2: #CB5C65;

    --success: #a3ffa3;

    --body-font: 300 16px "Inconsolata", monospace;
    --heading-font: 300 1em "Lato", sans-serif;
}


::selection {
    background-color: color-mix(in srgb, var(--reds-2), transparent);
}


body {
    background: radial-gradient(circle farthest-corner at bottom, var(--greys-0), var(--black) 200%);
    color: var(--greys-4);
    font: var(--body-font);
    
    margin: 0;
    display: flex;
    flex-flow: column nowrap;
    min-height: 100dvh;
}


hr {
    height: 1px;
    border: none;
    background-color: #404040;

    width: 50%;
    margin: 3em auto;
}


/* INPUTS */

input, textarea, button, ::file-selector-button, .btn {
    background-color: inherit;
    border: none;
    color: inherit;
    font: var(--body-font);
    border-radius: 3px;
    padding: 1ex 1em;
}

input {
    accent-color: var(--reds-0);
}

a.btn {
    display: block;
}

a.btn:hover {
    color: var(--greys-4);
}

input[type=button], input[type=submit], button, ::file-selector-button, .btn {
    background-color: var(--reds-1);
    padding: 1ex 2em;
}

input[type=button]:hover, input[type=submit]:hover, button:hover, ::file-selector-button:hover, .btn:hover {
    background-color: var(--reds-0);
} 

textarea, input[type=text], input[type=password], input[type=date] {
    border: 1px solid var(--greys-3);
    background-color: color-mix(in srgb, var(--black), var(--greys-0));
}

textarea {
    min-height: 1em;
    max-height: 20em;
    resize: vertical;
}


/* HEADINGS */

header, h1, h2, h3, footer, nav, input[type=button], input[type=submit], button, label, .btn, .heading-font {
    font: var(--heading-font);
    font-size: initial;
    letter-spacing: 0.2ex;

    text-transform: uppercase;
}

h1 {
    font-size: 32px;
}

h2 {
    font-size: 24px;
}


/* LINKS and NAV LINKS styling. */

a {
    color: var(--reds-1);
    text-decoration: none;
}

a:hover {
    color: var(--reds-2);
}


nav a {
    color: var(--link-color);
}

nav a:hover {
    color: var(--link-hover);
}


/* COMMON LAYOUTS */

main {
    padding: 1em 2em;
}


.social-medias {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;
    gap: 7em;

    margin: 3em 0;
}

.social-medias i {
    --ggs: 3;
}
