doctype html
html
    head
        - var page = {Title: "Site Summary"}
        include includes/admin/head.pug
    body
        include includes/admin/header.pug

        .layout 
            include includes/admin/nav.pug

            main
                h2 Meta Information

                .grid-display
                    span Site Title
                    span #{meta.Title}

                    span Site Author
                    span #{meta.Author}

                    span Site Description
                    span #{meta.Description}

                h2 Pages
                //- Maybe I could ghhhhhhhhhhhhhhh do something here. yeah.

                h2 Database Summary
                //- List how many tables and how many items per table

                include includes/admin/feedback.pug