doctype html
html
    head
        - var page = {Title: "Artwork Table"}
        include includes/base_head.pug
        link(rel='stylesheet' href='/static/css/admin.css')
    body
        include includes/admin/header.pug

        .layout 
            include includes/admin/nav.pug

            main
                h2 Artwork Entries

                table.database-table
                    thead 
                        tr
                            th(colspan=8) Artwork Data
                    
                    tbody
                        tr
                            th Select
                            th Name
                            th File
                            th Date
                            th Description 
                            th Collection
                            th Medium
                            th Credits

                        tr
                            td 
                                input#select-1(type="checkbox", name="select-1")
                            td piece 1
                            td 
                                a(href="/static/img/1.png" target="blank") 1.png
                            td today 
                            td my most awesome piece 
                            td -
                            td paint 
                            td -
                        tr
                            td 
                                input#select-2(type="checkbox", name="select-2")
                            td piece 2
                            td 
                                a(href="/static/img/2.png" target="blank") 2.png
                            td yesterday
                            td my second awesome piece 
                            td -
                            td paint 
                            td -

                    tfoot 
                        tr
                            td#selection-counter(colspan=2)
                            td#total-counter(colspan=6) 2 artworks total

                .controls 
                    button#new(type="button") New Entry

                    button#edit(type="button") Edit Entries 
                    button#delete(type="button") Delete Entries
                        
