doctype html
html
    head
        - var page = {Title: "Admin Login"}
        include includes/admin/head.pug
    body
        header#admin
            h1 Authenticate

        main
            a.back-link(href="/")
                i.gg-arrow-long-left
                span Go back

            form#login(method="post")
                label(for="username") Username
                    input#username(type="text", name="username")

                label(for="password") Password
                    input#password(type="password", name="password")

                input(type="submit", value="Login")

            if errorMessage
                p#error-message #{errorMessage}
