doctype html
html
    head
        include includes/head.pug
    body
        include includes/header.pug

        //- This is a dummy page, as there is nowhere to send these messages to.
        //- TODO: consider making a message database table and allow a rate-limited (by user) endpoint that allows you to send messages.
        //- Awesome.
        main#info
            h1 #{page.Title}

            .body-text!= page.BodyText

            form#contact
                textarea#message-content(name="message-content", placeholder="Say something nice.")

                input(type="submit", value="Submit Message")

        include includes/footer.pug
        