doctype html
html
    head
        include includes/head.pug
    body
        include includes/header.pug

        main#custom
            .body-text!= page.BodyText


        include includes/footer.pug
        