doctype html
html
    head
        include includes/head.pug
    body
        include includes/header.pug

        main#error
            h1 #{error.status || "500"}
            
            pre #{error.message || "something went wrong"}

        include includes/footer.pug
        