doctype html
html
    head
        include includes/head.pug
    body
        include includes/header.pug

        main
            h1 #{error.status}
            
            pre #{error.message}

        include includes/footer.pug
        