doctype html
html
    head
        include includes/head.pug
    body
        include includes/header.pug

        main#home
            .art-highlight
                each art of artwork 
                    img.artwork(
                        src="/static/img/" + art.FileName
                        alt=art.AltText
                    )

            .body-text!= page.BodyText


        include includes/footer.pug
        