/** 
    CSS ;ayout for the site's blog page and its parts and pieces.
*/

/** Layout for the blog's main. */
main#blog {
    display: flex;
    gap: 2em;
    flex-flow: column nowrap;
    flex: auto;
    width: 50%;
    min-width: 750px;
}

.blog-article {
    background-color: var(--card-bg);
    background-blend-mode: multiply;
    border-radius: var(--corner-rad);

    display: flex;
    flex-flow: column nowrap;
    gap: 0;
    padding: 1ex 1em;
}

.article-header {
    font-family: var(--header-font);

    display: flex;
    align-items: last baseline;
    justify-content: space-between;
    
    border-bottom: 2px solid var(--pink);
}

.article-author {
    font-size: 0.7em;
}

.article-content {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;

    padding: 1em 1.5em 2em;
}

.article-body {
    padding-right: 1em;
    line-height: 1.2;
}

.article-body p:last-child {
    margin-bottom: 0;
    margin-top: auto;
}

.article-meta {
    flex: 1 0 auto;
}

.article-tags {
    display: flex;
    gap: 1ex;
    flex-flow: column wrap;
    min-width: max-content;
    float: right
}


/* 
    MOBILE LAYOUT
*/

@media (max-width: 800px) {
    main#blog {
        min-width: unset;
        width: 95%;
    }

    .article-content {
        flex-direction: column-reverse;
    }

    .article-tags {
        float: none;
        flex-direction: row;
    }

    .blog-article {
        max-width: 100%;
    }
}
