/**
    CSS for blog/merch personal site.

    This file is divided into sections:
        - Prep (fonts, root, body).
        - General (basic elements/classes that will be used on all pages).

    Specific page layouts can be found in each their own CSS file.
*/


@font-face {
    font-family: JoyStix;
    src: url(../fonts/joystix.otf) format("opentype");
}

:root {
    --background: #1a121d;
    --text-color: #dbdbdb;

    --card-bg: color-mix(in srgb, black 70%, transparent);
    --popup-bg: #2f2633;
    
    --coral: #f24973;
    --pink: #C73FC1;
    --orange: #e09f24;
    --yellow: #ffe86b;
    
    --header-font: JoyStix, monospace;
    --body-font: "Ubuntu Mono", monospace;

    --corner-rad: 3px;
}


::selection {
    background-color: color-mix(in srgb, var(--orange) 80%, transparent);
}

/* body background header gradient thing */
body::before {
    background: linear-gradient(to bottom, var(--pink), transparent);
    content: "";
    mix-blend-mode: saturation;
    display: block;
    height: 30dvh;
    position: absolute;
    top: 0;
    width: 100dvw;
    z-index: -10;

    overflow: hidden;
}


body {
    height: 100dvh;
    margin: 0;

    background-color: var(--background);
    color: var(--text-color);
    font-family: var(--body-font);

    display: flex;
    flex-flow: column nowrap;

    overflow-x: hidden;
}

header#site-header {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    padding: 1.5em 0;
    font-family: var(--header-font);
    
    width: 80%;
    margin: 0 auto;
}

h1,
h2,
h3 {
    font-family: var(--header-font);
    text-wrap: balance;
}

h1 {
    font-size: 48px;
}

nav#site-nav {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    width: 100%;
    text-align: center;
}

header#site-header a, header#site-header a:visited {
    color: var(--text-color);
}

header#site-header a:hover {
    color: color-mix(in srgb, var(--text-color), transparent);
}

/** Basic layout for main, will likely be consistent across most pages. */
main {
    margin: 0 auto;
    width: 65%;
    flex: 2 0 auto;
}

/** A nice lil copyright footer. */
footer {
    font: 0.8rem var(--header-font);
    
    text-align: center;
    flex: 1 1 auto;

    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    padding: 2em 0;
    align-items: flex-end;
    gap: 1em;
}

footer p {
    margin: 0;
}

a {
    color: var(--pink);
    text-decoration: none;
}

a:visited {
    color: var(--orange);
}

a:hover, a::selection {
    /** Including selection to avoid contrast conflict. */
    color: var(--coral);
}

/* Make buttons inherit base styles as a starting point. */
button {
    font: inherit;
    padding: 1ex 2em;
    border: none;
    border-radius: var(--corner-rad);
}

input {
    accent-color: var(--orange);
}

label > input {
    margin-right: 0.8em; 
}

/* Table specifications */
table {
    border-collapse: collapse;
}

table, th, td {
    border: 1px solid var(--text-color);
}

th, td {
    padding: 1ex 1em;
}

table caption {
    text-align: left;
    padding: 1ex 0;

    /* bold and italic for emphasis. not using color as this is not clickable and i don't want to imply as much */
    font-style: italic;
    font-weight: 700;
}

/* Styling the footer for extra emphasis. */
tfoot {
    font-weight: 700;
}

tfoot td {
    border: 2px solid var(--pink);
}

/** Sitemap Styling */
main#sitemap {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
    flex: 5 0 auto;
}

.container {
    display: flex;
    flex-flow: row wrap;
    gap: 2em;
    justify-content: center;
}

#sitemap .group {
    background-color: var(--card-bg);
    border-radius: var(--corner-rad);
    padding: 2em 1em;
    box-sizing: border-box;
    width: 300px;
}

.group h3 {
    margin: 0;
    text-align: center;
}


/** Specific utility classes. */
.clearfix::after {
    clear: both;
    content: " ";
    display: block;
    height: 0;
    visibility: hidden;
}

.link-wrap {
    display: contents;
    color: inherit!important;
}

/* for single unicode characters that could use some emphasis */
.char {
    font-size: 1.25rem;
}

.group {
    display: flex;
    flex-flow: column nowrap;
    gap: 1ex;
}


/* 
    MOBILE LAYOUT
*/

@media (max-width: 800px) {
    main {
        width: 95%;
    }
    
    #sitemap .container {
        flex-direction: column;
    }
}


/* ANIMATION */

main#index {
    display: flex;
    align-items: center;
    justify-content: center;
}

#greeter {
    animation: circle 2.34s ease-out infinite alternate,
               fade 3s linear infinite;

    font-size: 1.3rem;

    
}


@keyframes fade {
    0% {
        color: var(--coral);
    } 25% {
        color: var(--pink);
    } 50% {
        color: var(--orange);
    } 75% {
        color: var(--yellow);
    } 100% {
        color: var(--coral);
    }
}


@keyframes circle {
    0% {
        transform: rotate(0deg) translateX(150px) rotate(0deg);
    } 100% {
        transform: rotate(360deg) translateX(150px) rotate(-360deg);
    }
}
