nav#admin
    a(href="/admin") summary 
    a(href="/admin/config") config 
    a(href="/admin/database") database
    .sub
        a(href="/admin/database/artwork") artwork

    a#exit(href="/") exit
