/**
 * This CSS file has all styling for the calendar.
 * Utilized for `index.html` and `examples/calendar.html`.
 */

#calendar {
    border: var(--outline-dark-thin);
    border-spacing: 0;
    border-radius: 3px;
    margin: 0 auto;

    /* Silly: but I am not going to use `border-collapse` so that I can have ever-so-slightly rounded corners. */
}


td, th {
    border: var(--outline-dark-thin);
    width: 150px;   
}

td {
    box-sizing: border-box;
    height: 100px;
    position: relative;
    transition: var(--transition-background-color);
}


td:hover {
    background-color: color-mix(in srgb, var(--fawn), transparent);
    transition: var(--transition-hover-background-color);
}

td.other-month {
    /* Shortcut mix that can be reached from child elments. */
    --bg-color: color-mix(in srgb, var(--caput) 40%, var(--paper));
    background-color: var(--bg-color);
}

td .date {
    position: absolute;
    top: 0;
    left: 0;

    font-size: 1rex;
    padding: 0.5ex 1ex;
    background-color: color-mix(in lch, var(--paper), transparent);
    border: var(--outline-dark-thin);
    border-left-width: 0;
    border-top-width: 0;
    border-bottom-right-radius: 3px;
}

.other-month .date {
    border-color: var(--paper);
    background-color: color-mix(in lch, var(--bg-color), transparent);
    color: var(--paper);
}

.card-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1ex;
}

.card-wrapper .card {
    font-size: 5px;
}
