/**
 * Stylign form elements, specifically for `new-entry.html`.
 */

/* General */

input, textarea {
    background-color: var(--offwhite);
    border: var(--outline-dark-thick);
    border-radius: 5px;
    padding: 1ex 1.5ex;
}

input[type=text] {
    font-size: 1.2rem;
}

textarea {
    font-size: 0.9rem;
}

textarea {
    resize: vertical;
}

/*  Extra nav + actions*/

nav#entry-actions {
    background-color: var(--peach);
    border-radius: 5px;
    margin: 0 auto;
    padding: 0;
    width: calc(100% - 4em);
}

#entry-actions .nav-left {
    padding: 0 1ex;
}

/* Main layout(s) */

#new-entry-input {
    display: flex;
    gap: 1em;
    align-items: start;
}

.fields {
    display: grid;
    grid-template-areas: "t t t d d"
                         "b b b b b";
    gap: 1ex;
}

#entry-title {
    grid-area: t;
}

#entry-date {
    grid-area: d;
}

#entry-body {
    grid-area: b;
    min-height: 3rem;
}

.cards-interface {
    display: flex;
    gap: 1em;
    flex-flow: column nowrap;
    align-items: center;

    flex-grow: 1;
}

#card-pool {
    width: 100%;
    
    display: flex;
    flex-flow: row wrap;
    gap: 1em;
    justify-content: center;
}

.pool-slot {
    display: grid;
    grid-template-areas: ". card controls ."
                         "caption caption caption caption";
}

.pool-slot .card {
    grid-area: card;
}

.card-controls {
    display: grid;
    grid-area: controls;
}

.pool-slot span {
    grid-area: caption;
}

#cards-list {
    display: flex;
    flex-flow: row wrap;
    gap: 1ex 1em;
    justify-content: center;
}

/* Fancy styling/text logic in CSS for user feedback. */
#cards-list:empty::before {
    content: "No cards have been selected.";
    font-style: italic;
}

#open-card-popover {
    grid-area: a;
}

#interface-feedback {
    font-style: italic;
}


/* Popover styling */

#card-select-popover {
    flex-flow: column nowrap;
}


.card-selection {
    display: grid;
    gap: 1em;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;

    /* margin: 1em auto; */
    max-width: 90%;
}

.card-button {
    align-items: center;
    display: flex;
    flex-flow: column nowrap;
    gap: 1ex;

    font-size: 1.5dvw;
    padding: 1ex;

    transition: var(--transition-background-color);
}

.card-button:hover, .card-button.selected {
    background-color: var(--peach);
    transition: var(--transition-hover-background-color);
}

.card-button .card::before {
    transition: var(--transition-translate);
}

.card-button:hover .card::before {
    translate: 0 -10px;
    transition: var(--transition-hover-translate);
}


@media (max-width: 900px) {
    #new-entry-input {
        display: block;
    }

    #card-pool {
        padding-top: 1em;
    }
}


/* Animations */

/* Animating the flip icon on hover to try and demonstrate the button's function. */
.i-flip::before {
    transition: var(--transition-spin);
}

.i-flip:hover::before {
    rotate: -360deg;
    transition: var(--transition-hover-spin);
}
