/* 
this is my styling for stuff. yeah
*/

:root {
    --caput: #502419;
    --caput-grey: #45302b;
    --caput-grey-light: #634e49;

    --asparagus: #7ea172;
    --asparagus-dark: #638e54;

    --green-grad-0: #8daa76;
    --green-grad-1: #a3b67c;
    --green-grad-2: #b7c281;

    --sage: #c7cb85;

    --fawn: #e7a977;
    --fawn-red: #ef7e58;
    --fawn-orange: #f4a040;
    --fawn-yellow: #f8b65e;
    
    --peach: #ebbe9b;

    /* colorpick later */
    --paper: #f4e4dc; 

    /* fonts */
    --heading-font: "Sedan SC", "Merriweather", serif;
    --body-font: "FreeSans", "Ariel", sans;

    /* general style patterns */
    --outline-dark-thick: 3px solid var(--caput);    
    --outline-dark-thin: 1px solid var(--caput);
    --outline-light: 0.95px var(--paper);
}


body {
    background-color: var(--paper);
    color: var(--caput-grey);
    font-family: var(--body-font);

    margin: 0;
    min-height: 100vh;

    display: flex;
    flex-flow: column nowrap;
    gap: 0;
}

/* labels for screenreaders, worry about it later. */
.sr-label {
    display: none;
}


button, input {
    font: inherit;
    color: inherit;
    border: none;
    background-color: transparent;
}

h1, h2, h3 {
    font-family: var(--heading-font);
}

a {
    text-decoration: none;
    color: var(--asparagus-dark);
}

a:visited {
    color: var(--asparagus-dark);
}

a:hover {
    color: var(--green-grad-0);
}

/* NOTE: links do not pass contrast test against bg -- consider bolding or just darker greens!. */

/* main layout -- test values for display only.*/
header {
    padding: 3em 2em 1em;
}

#title {
    color: var(--caput);
    margin: 0;
}

main {
    flex-grow: 3;
}

nav {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;

    padding: 0 2em;
    margin: 1em 0;
}

.nav-left, .nav-right {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    
    gap: 1em;
}

footer {
    font-family: var(--heading-font);
    padding: 1em 2em;
    border-top: var(--outline-dark-thin);
    
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

button.icon {
    --icon-size: 1.4em;
    border-radius: 3px;
    padding: 0.5ex 1ex;
}

button.icon:hover {
    background-color: color-mix(in srgb, var(--fawn), transparent);
}

button.icon.btn-active {
    background: var(--fawn);
}

button.icon::before {
    content: "";
    -webkit-mask-size: cover;
    mask-size: cover;

    background-color: var(--caput-grey);
    height: var(--icon-size);
    width: var(--icon-size);
    display: block;
}

button#display-log::before {
    -webkit-mask-image: url(../list.svg);
    mask-image: url(../list.svg);
}

button#display-calendar::before {
    -webkit-mask-image: url(../calendar.svg);
    mask-image: url(../calendar.svg);
}

button#open-settings::before {
    -webkit-mask-image: url(../settings.svg);
    mask-image: url(../settings.svg);
}

